@mixin sInner($width:100%,$margin:0px) {
    width: $width;
    margin: $margin auto;
    text-align: center;
    position: relative;
}
@mixin section-padding() {
    padding-top: 75vh;
    padding-bottom: 75vh;
}
@mixin section-padding_sp() {
    margin: 20px 0;
    padding-top: 45px;
    padding-bottom: 45px;
}
@mixin lower_right {
    -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 30%);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
}
@mixin lower_left{
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 60%, 0 100%);
}
@mixin gradation {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}